.paginator {
    margin:10px;
    cursor: pointer;
    padding:5px;
}
.pageNumber {
    padding:5px;
    border: 1px solid grey;

}

.selectedPage {
    font-weight: bold;
    background-color: lightcoral;
    padding: 3px;
    font-size: 12pt;


}